body a{
    text-decoration: none;
}

.deleteButton {
    background: transparent;
    border: 1px solid #f00;
    border-radius: 2em;
    color: #f00;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 2px;
    margin: 0 0 8px;
    padding: 0;
    text-align: center;
    width: 20px;}
.card-body {
    padding: 1em;
    width: 100%;
}

.quantity-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input span {
    cursor: pointer;
    font-size: 1.25em;
    padding: 0 0.5em;
}

.quantity-input input {
    text-align: center;
    width: 50px;
    margin: 0 0.5em;
}

.scrollable-table {
    overflow-y: auto;
    max-height: 600px; /* Adjust as needed */
    width: 800px;
  }
